<%= form_with(model: portfolio_item, local: true) do |form| %>


  <div class="row">
    <div class="col-md-6">
        <div class="field mb-2">
          <%= form.label :title, class: 'form-label' %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="field mb-2">
          <%= form.label :subtitle, class: 'form-label' %>
          <%= form.text_field :subtitle, class: 'form-control' %>
        </div>

          <div class="field mb-2">
          
          <%= form.file_field :main_image, class: 'form-control' %>
        </div>

        <div class="field mb-2">
          
          <%= form.file_field :thumb_image, class: 'form-control' %>
        </div>
    </div>
    <div class="col-md-6">
       <div class="field mb-2">
        <%= form.label :body, class: 'form-label' %>
        <%= form.text_area :body, class: 'form-control', rows: 10 %>
      </div>
    </div>
  </div>


 <div class="col-md-12">
  <h2>Technologies Used: </h2>
    <ul>
      <%= form.fields_for :technologies do |technology_form| %>
        <li class='mb-1'>
          <%= technology_form.label :name, class: 'form-label' %>
          <%= technology_form.text_field :name, class: 'form-control' %>
        </li>
      <% end %>
    </ul>

    <div class="actions">
      <%= form.submit 'Save Portfolio Item' , class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
