    <div class="blog-masthead bg-primary">
      <div class="container">
        <nav class="nav blog-nav">
         <%= link_to 'Home', root_path, class: "nav-link active text-white" %>
         <%= link_to 'About', about_me_path ,class: "nav-link text-white"%>
         <%= link_to 'Contact', contact_path,class: "nav-link text-white" %>
         <%= link_to 'Blogs', blogs_path,class: "nav-link text-white" %>
         <%= link_to 'Portfolio', portfolios_path,class: "nav-link text-white" %>
          <%= login_helper 'nav-link text-white' %>
        </nav>
      </div>
    </div>